{% extends "layout.html" %}
{% block content %}
   <div class="container-fluid">
	<h1 class="text-center ml-5">About Page</h1>
	<p class="content-section text-center mt-5">
		Hello friend it's me,you might be wondering
		what you are doing here,how you got here,
		what's your purpose here.Be unperturbed,as
		no being is without purpose which will one day
		be made manifest!.
		Welcome to my blog and science news feed.
		My name is Benjamin and I am just a tech
		nerd,who is fascinated about the computer,
		how it works, at it's lowest level and always
		learning,so that I may attain to a full knowledge
		of it.Oops, I forgot to say this, Mathematics is my
		<b>First Love</b>
	</p>
   </div>
{% endblock content%}
